<% flash.each do |type, message| %>
    <%= message %>
<% end %>

<h1>Kittens</h1>

<p><%= link_to "Add Kitten", new_kitten_path %></p>

<% @kittens.each do |kitten| %>
    <div>
        <%= link_to kitten.name, kitten_path(kitten) %><br>
        <%= link_to "Remove Kitten", kitten_path(kitten), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div><br>
<% end %>